* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#0c0b0b;
    --bg-color:#ffffff;
    --text-color:#E9C46A;
    --big-font:3.0rem;
    --p-font:2.0rem;
}
body{
    background-color: var(--bg-color);
}
.header{
    background-color:#f5f5cc;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 100px;
    height: 8rem;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 8px;
    margin: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #b9b928;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

.nav-links ul li a{
    text-decoration: none;
    border-radius: 25px;
    padding: 5px;
}

.nav-links ul li :hover{
 color: #b9b928;
}
.nav-links ul li :hover::after{
    top: 50%;
    opacity: 1;
}
section{
    padding: 30px 7%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: gap 1.0rem;
    align-items: center;
    background-color: #2B9348;
}
.home-text h2{
    font-size: var(--big-font);
    margin: 0.3rem 0.1rem;
    color:var(--text-color);
}
.home-text p{
    font-size: var(--p-font);
    margin: 1rem 0.2rem;
    color:#fff;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background:var(--text-color);
    color: #fff;
    border-radius: 0.5rem;

}
.home-img img{
    max-width: 800px;
    width: 900px;
    height: auto;
    color:#2B9348;
    opacity: 0.7;

}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-end;
  text-align: left;
  margin-left: 2rem;

}
.container .info p {
    font-size: 2rem;
    font-family: "Poppins","sans-serif";
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    margin-bottom: 2.5rem;
    color: var(--text-color);
    
}
.container .info a{
    text-decoration: none;
    display: inline-block;
    background-color:var(--text-color);
    border-radius: 40px;
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 22rem;
    margin-bottom: 1.7rem;
}
.container-2{
    width: 98%;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 1rem;
}
.container-2 .letter p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
}
.container-2 .letter-2 p {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: max(42rem,48vw);
    font-weight: 400;
    letter-spacing: .01em;

}
.container-3{
    width: 98%;
    height: 100vh;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 1rem;
}
.container-3 img{
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
 
}
.container-3 h3{
    width: 50%;
    height: 50vh;
    box-sizing: border-box;
    margin-left: 5rem;
}

.section-4{
    background-color: rgb(138, 117, 117);
    display: flex;
    width: 98%;
    height: 100vh;
    align-items: center;
    margin: 1rem;
}
.section-4 img{
    height: 100vh;
    width: 50%;
}
.section-4 h3{
    margin: 0;
    color: greenyellow;
}
.section-4 p{
    color: #c0bdbd;
    margin-right: 15px;
}